<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         cacheResultFile=".phpunit.result.cache"
         executionOrder="depends,defects"
         beStrictAboutOutputDuringTests="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         failOnWarning="false">
    <testsuites>
        <testsuite name="service">
            <directory>tests/Service</directory>
        </testsuite>
        <testsuite name="subscriber">
            <directory>tests/Subscriber</directory>
        </testsuite>
        <testsuite name="storefront">
            <directory>tests/Storefront</directory>
        </testsuite>
        <testsuite name="enum">
            <directory>tests/Enum</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">src/Service</directory>
            <directory suffix=".php">src/Subscriber</directory>
            <directory suffix=".php">src/Storefront</directory>
            <directory suffix=".php">src/Enum</directory>
        </include>
    </source>
    <coverage>
        <report>
            <text outputFile="php://stdout" showOnlySummary="false"/>
        </report>
    </coverage>
</phpunit>
